/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap";

/* Custom variables can be added here to override Bootstrap defaults */
:root {
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
}

/* Add any global custom styles below */
